<?xml version="1.0" encoding="UTF-8"?>
<element>
    <web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
        <display-name>Kaiburr_Task1</display-name>
        <servlet>
            <servlet-name>Java Web Service</servlet-name>
            <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
            <init-param>
                <param-name>jersey.config.server.provider.packages</param-name>
                <param-value>osinfo</param-value>
            </init-param>
            <load-on-startup>1</load-on-startup>
        </servlet>
        <servlet-mapping>
            <servlet-name>Java Web Service</servlet-name>
            <url-pattern>/*</url-pattern>
        </servlet-mapping>
    </web-app>
</element>